if [ `whoami` == "root" ]; then
   [ -f "/usr/bin/ash.boot" ] && source /usr/bin/ash.boot
fi

if [ `whoami` == "bigred" ]; then
   gw=$(route -n | grep -e "^0.0.0.0 ")
   export GWIF=${gw##* }
   ips=$(ifconfig $GWIF | grep 'inet ')
   export IP=$(echo $ips | cut -d' ' -f2 | cut -d':' -f2)
   export NETID=${IP%.*}
   export GW=$(route -n | grep -e '^0.0.0.0' | tr -s \ - | cut -d ' ' -f2)
   export PS1='\u@\h:\w$ '
   export TZ=Asia/Taipei
   alias pingdup='sudo arping -D -I eth0 -c 2 '
   alias ping='ping -c 4'
   alias ll='ls -alh'
   [ -f "/usr/bin/ash.start" ] && source /usr/bin/ash.start
fi